<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default bootstrap-panel">
            <div class="panel-body">
                <h1 class="knowledge-title">{{ ::kc.knowledge_title }}</h1>

                <div class="knowledge" ng-repeat="knowledge in kc.category_knowledge">
                    <ul class="knowledge-text">
                        <li>
                            {{ ::knowledge.text }} <span ng-if="knowledge.image">
                                <a href ng-click="kc.open(knowledge.image)">view image</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
